.whatIDo-main {
  width: 90%;
  margin: auto;
  padding: 20px 10px;
}
.whatIDo-main-div {
  display: flex;
  overflow: hidden;
  box-shadow: grey 4px 3px 20px -2px;
  margin-bottom: 2rem;
  border-radius: 5px;
  padding: 1rem;
}

.whatIDo-main-div:last-child {
  margin-bottom: 0;
}

.whatIDo-header {
  font-size: 60px;
  line-height: normal;
  font-family: "Google Sans Regular";
  text-align: center;
}

.whatIDo-text {
  font-size: 20px;
}

.whatIDo-text-div {
  margin-left: 50px;
  font-family: "Google Sans Regular";
}

.whatIDo-image-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatIDo-main-div > * {
  flex: 1;
}

.whatIDo-image {
  height: auto;
  max-width: 80%;
  border-radius: 5px;
}

.whatIDo-heading {
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 1rem;
  font-family: "Google Sans Regular";
  line-height: normal;
  text-align: center;
}

.whatIdo-tech-stack-logos {
  height: 3rem;
  display: flex;
  justify-content: center;
}

/* Media Query */
@media (max-width: 1380px) {
  .whatIDo-heading {
    font-size: 40px;
  }
  .whatIDo-header {
    font-size: 50px;
  }
  .whatIdo-tech-stack-logos {
    height: 2.5rem;
  }
}

@media (max-width: 1100px) {
  .whatIdo-tech-stack-logos {
    height: 2rem;
  }
}

@media (max-width: 930px) {
  .whatIdo-tech-stack-logos {
    height: 1.8rem;
  }
}
@media (max-width: 850px) {
  .whatIdo-tech-stack-logos {
    height: 1.6rem;
  }
}

@media (max-width: 768px) {
  .whatIDo-heading {
    font-size: 30px;
    margin: 0 0 1rem;
  }
  .whatIDo-header {
    font-size: 30px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .whatIDo-main-div {
    flex-direction: column;
  }
  .whatIDo-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .whatIDo-text {
    font-size: 16px;
  }
  .whatIDo-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .whatIDo-image-div {
    order: 2;
  }
  .whatIDo-image-div > * {
    margin-top: 0px;
  }
  .whatIdo-tech-stack-logos {
    height: 2rem;
  }
}

@media (max-width: 500px) {
  .whatIdo-tech-stack-logos {
    height: 1.5rem;
  }
}