.project-card-div {
  color: rgb(88, 96, 105);
  box-shadow: 5px 5px 5px #d9dbdf;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  flex: 1 1 25%;
}

.project-name-div {
  display: flex;
  align-items: center;
}

.project-name {
  margin: 0 0 0.5rem;
  font-size: 22px;
  text-align: left;
  overflow: hidden;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
  font-family: "Google Sans Regular";
}

.project-name-icon {
  margin-right: 4px;
}

.project-description {
  overflow: hidden;
  text-align: left;
  display: -webkit-box;
  font-family: "Google Sans Regular";
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  margin: 1rem 0;
  font-size: 1rem;
}

.project-dates {
  display: flex;
  font-size: medium;
  flex-direction: row;
}

.project-date-para {
  margin: 0;
  font-weight: 400;
  font-family: "Google Sans Regular";
}

.project-urls {
  display: flex;
  font-size: small;
  column-gap: 1rem;
  position: absolute;
  bottom: 1rem;
}

.project-urls-new-tab-icon {
  font-size: smaller;
  margin-left: 4px;
}

@media (max-width: 1200px) {
  .project-card-div {
    flex: 1 1 40%;
  }
}

@media (max-width: 768px) {
  .project-card-div {
    flex: 1 1 100%;
  }

  .project-name {
    font-size: 16px;
  }

  .project-description {
    font-size: 14px;
  }

  .project-dates {
    flex-direction: column;
  }

  .project-date-para {
    font-size: 14px;
  }

  .project-urls {
    margin: auto;
    font-size: 14px;
    width: fit-content;
    /* flex-direction: column; */
  }
}
