.myskills-main {
  width: 100%;
  text-align: center;
}

.basic-myskills {
  margin-left: 5%;
  margin-right: 5%;
}

.myskills-heading-div {
  display: flex;
  height: 25rem;
}

.myskills-heading-div>* {
  flex: 1;
}

.myskills-heading-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myskills-heading-text-div {
  text-align: center;
}

.myskills-page-poster {
  width: auto;
  max-height: 80%;
}

.myskills-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 80px;
}

.myskills-heading-sub-text {
  font-size: 30px;
  font-family: "Google Sans Regular";
  text-align: center;
  margin-bottom: 10px;
}

.myskills-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Google Sans Medium";
}

.skills-cards-div-main {
  display: flex;
  gap: 2rem 2rem;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 60px 40px;
}

@media (max-width: 1380px) {
  .myskills-heading-text {
    font-size: 50px;
    margin-top: 80px;
  }

  .myskills-heading-sub-text {
    font-size: 25px;
  }

  .myskills-page-poster {
    max-width: 75%;
  }
}

@media (max-width: 768px) {
  .myskills-heading-text {
    font-size: 30px;
    margin-top: 20px;
  }

  .myskills-heading-sub-text {
    font-size: 20px;
  }

  .myskills-heading-div {
    height: auto;
    flex-direction: column;
  }

  .myskills-header-detail-text {
    font-size: 16px;
    margin-right: 0px;
    margin-left: 0px;
    line-height: normal;
    text-align: center;
  }

  .skills-cards-div-main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 30px 20px;
  }

  .myskills-page-poster {
    max-width: 40%;
  }
}

@media (max-width: 500px) {
  .myskills-page-poster {
      max-width: 50%;
  }
}