.experience-main {
  width: 100%;
}

.basic-experience {
  margin-left: 5%;
  margin-right: 5%;
}

.experience-heading-div {
  display: flex;
}

.experience-heading-div > * {
  flex: 1;
}

.experience-heading-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-heading-text-div {
  text-align: center;
}

.experience-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.experience-heading-text {
  font-size: 56px;
  margin-top: 80px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  font-family: "Google Sans Medium";
}

.experience-heading-sub-text {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Google Sans Regular";
}

.experience-header-detail-text {
  font-size: 20px;
  margin-top: 0px;
  line-height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Google Sans Medium";
}

@media (max-width: 1380px) {
  .experience-heading-text {
    font-size: 50px;
    margin-top: 80px;
  }
  .experience-heading-sub-text {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .experience-heading-text {
    font-size: 30px;
    margin-top: 20px;
  }

  .experience-heading-sub-text {
    font-size: 20px;
  }

  .experience-heading-div {
    flex-direction: column;
  }

  .experience-header-detail-text {
    font-size: 16px;
    margin-right: 0px;
    text-align: center;
    line-height: normal;
  }
}

.experience-card {
  display: flex;
  padding: 10px;
  min-width: 350px;
  margin-left: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  flex-direction:column;
}

.arrow-left {
  width: 0;
  height: 0;
  z-index: 100;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.experience-card-logo-div {
  width: 150px;
  margin: 10px;
  min-width: 15%;
  margin-top: -10px;
}



.experience-card-img {
  width: 100%;
  margin: auto;
  aspect-ratio: 1;
  border: 1px solid;
  position: relative;
  border-radius: 50%;
}

.experience-card-stepper {
  display: flex;
  margin-top: -40px;
  flex-direction:row;
  position: relative;
  align-items: center; 
  flex-direction: column;
}

.experience-card-body-div {
  width: 100%;
}

.experience-card-header-div {
  display: flex;
  flex-direction: row;
}

.experience-card-logo {
  top: 50%;
  left: 50%;
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.experience-card-title {
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 7px;
  margin-bottom: 2px;
  text-align: left;
  font-family: "Google Sans Regular";
}

.experience-card-company {
  margin: 0;
  text-align: left;
  font-family: "Google Sans Regular";
}

.experience-card-duration {
  color: #868e96;
  margin-top: 10px;
  margin-left: 0px;
  text-align: right;
  margin-right: 0px;
  margin-bottom: 2px;
  font-family: "Google Sans Regular";
}

.experience-card-heading-left {
  float: left;
  margin-left: 10px;
  margin-right: auto;
}

.experience-card-heading-right {
  float: right;
  margin-left: auto;
  margin-right: 10px;
}

.experience-card-location {
  margin: 0;
  color: #868e96;
  text-align: right;
  font-family: "Google Sans Regular";
}

.experience-card-description {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 20px;
  text-align: justify;
  font-family: "Google Sans Regular";
}


.experience-card-company > a {
  color: #000;
  position: relative;
  text-decoration: none;
}

.experience-card-company > a:hover {
  color: #000;
} 

.experience-card-company > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}

.experience-card-company > a:before {
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  visibility: hidden;
  transform: scaleX(0);
  background-color: #000;
  -webkit-transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
} 

.experience-list-item {
  display: flex;
  align-items: center;
  flex-direction: row;
}

@keyframes ripple {
   0% {
    left:5px;
    top:5px;
    opcity:75;
    width:0;
    height:0;
  }
  100% {
    left:-20px;
    top:-20px;
    opacity: 0;
    width:50px;
    height:50px;
  }
}

@media (max-width: 768px) {
  .experience-card{
    text-align: center;
      flex-direction:column;
  }

  .arrow-left {
      display: none;
  }

  .experience-card-stepper {
      display: none;
  }

  .experience-list-item {
    row-gap: 1rem;
      flex-direction: column;
  }

  .experience-card-heading-left {
      float: center;
      margin-left: auto;
      margin-right: auto;
  }

  .experience-card-heading-right {
      float: center;
      margin-left: auto;
      margin-right: auto;
  }

  .experience-card-header-div {
      flex-direction: column;
  }

  .experience-card-description {
      margin-left: 14px;
      margin-right: 14px;
      text-align: justify;
  }
}
