.experience-main {
  width: 100%;
}

.basic-experience {
  margin: 0 5%;
}

.experience-heading-div {
  height: 25rem;
  display: flex;
}

.experience-heading-div > * {
  flex: 1;
}

.experience-heading-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-heading-text-div {
  text-align: center;
}

.experience-page-poster {
  max-height: 100%;
  width: auto;
}

.experience-heading-text {
  font-size: 56px;
  margin-top: 80px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  font-family: "Google Sans Medium";
}

.experience-header-detail-text {
  margin: 0 20px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Google Sans Medium";
}

@media (max-width: 1380px) {
  .experience-heading-text {
    font-size: 50px;
    margin-top: 80px;
  }
}

@media (max-width: 768px) {
  .experience-heading-text {
    font-size: 30px;
    margin-top: 20px;
  }

  .experience-heading-div {
    height: auto;
    flex-direction: column;
  }

  .experience-header-detail-text {
    margin: 0;
    font-size: 16px;
    text-align: center;
    line-height: normal;
  }

  .experience-page-poster {
    max-width: 50%;
  }
}

@media (max-width: 500px) {
  .experience-page-poster {
      max-width: 60%;
  }
}