.degree-card {
  width: 100%;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.card-title {
  margin: 1rem 0;
  font-size: 23px;
  font-family: "Google Sans Medium";
}

.card-subtitle {
  font-size: 18px;
  margin-top: 7px;
  margin-bottom: 5px;
  font-family: "Google Sans Medium";
}

.card-img {
  width: 200px;
  height: auto;
  padding: 10px;
  border-radius: 50%;
}

.body-header {
  padding: 10px;
  display: flex;
  max-width: inherit;
  border-radius: 10px 10px 0px 0px;
}

.body-header-title {
  width: 75%;
  align-items: flex-start;
}

.body-header-duration {
  width: 25%;
}
.duration {
  margin: 1rem 0;
  float: right;
  font-size: 16px;
  font-family: "Google Sans Regular";
}

.body-content {
  padding: 10px;
  max-width: inherit;
  align-items: center;
  margin: 10px 0 0 10px;
  justify-content: center;
  border-radius: 0px 0px 10px 10px;
}

.content-list {
  margin: 0;
  text-align: left;
  padding-right: 10px;
  padding-bottom: 10px;
  font-family: "Google Sans Regular";
}

.content-list:last-child {
  padding-bottom: 0;
}

.content-list-ul {
  margin: 0;
}

.card-body {
  margin: 10px;
  border-radius: 10px;
  border-top: 0;
}

.visit-website-btn {
  border: 0px;
  float: right;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin: 10px 10px 10px 0px;
}

.visit-cert-btn {
  border: 0px;
  float: left;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin: 10px 10px 10px 0px;
}

.btn {
  margin: 0px;
  padding: 0px;
  font-family: "Google Sans Regular";
}

@media (max-width: 1380px) {
}

@media (max-width: 768px) {
  .degree-card {
    row-gap: 1rem;
    margin-bottom: 50px;
    flex-direction: column;
  }
  .degree-card:last-child {
    margin-bottom: 0;
  }

  .body-header {
    text-align: center;
    flex-direction: column;
  }

  .body-header-title {
    width: 100%;
  }

  .body-header-duration {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .duration {
    float: none;
    margin: 0px;
    padding: 0px;
  }

  .card-img {
    width: 180px;
  }

  .card-body {
    width: 100% !important;
  }

  .card-title {
    font-size: 20px;
  }

  .card-subtitle {
    font-size: 16px;
  }

  .degree-card-links {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
