.degree-card {
  width: 100%;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: center;
}

.education-card-title {
  font-size: 25px;
  margin: 0 0 0.5rem;
  font-family: "Google Sans Medium";
}

.education-card-subtitle {
  margin: 0;
  font-size: 18px;
  font-family: "Google Sans Medium";
}

.education-card-img {
  width: 200px;
  height: auto;
  padding: 10px;
  border-radius: 50%;
}

.education-body-header {
  padding: 20px;
  display: flex;
  max-width: inherit;
  border-radius: 10px 10px 0px 0px;
}

.education-body-header-title {
  width: 75%;
  align-items: flex-start;
}

.education-body-header-duration {
  width: 25%;
}
.education-duration {
  margin: 0;
  float: right;
  font-size: 16px;
  font-family: "Google Sans Regular";
}

.education-body-content {
  margin: 0;
  max-width: inherit;
  align-items: center;
  padding: 20px 20px 0;
  justify-content: center;
  border-radius: 0px 0px 10px 10px;
}

.education-content-list {
  margin: 0;
  text-align: left;
  padding-right: 10px;
  padding-bottom: 10px;
  font-family: "Google Sans Regular";
}

.education-content-list:last-child {
  padding-bottom: 0;
}

.education-content-list-ul {
  margin: 0;
}

.education-card-body {
  margin-left: 20px;
  border-radius: 10px;
  border-top: 0;
}

.visit-cert-btn,
.visit-website-btn {
  padding: 0;
  border: 0px;
  margin: 0 0 20px;
  border-radius: 10px;
  display: inline-block;
}

.visit-website-btn {
  float: right;
}

@media (max-width: 768px) {
  .degree-card {
    row-gap: 1rem;
    margin-bottom: 50px;
    flex-direction: column;
  }
  .degree-card:last-child {
    margin-bottom: 0;
  }

  .education-body-header {
    text-align: center;
    flex-direction: column;
  }

  .education-body-header-title {
    width: 100%;
  }

  .education-body-header-duration {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .education-duration {
    float: none;
    margin: 0px;
    padding: 0px;
  }

  .education-card-img {
    width: 150px;
  }

  .education-card-body {
    margin: 0;
    width: 100% !important;
  }

  .education-card-title {
    font-size: 20px;
  }

  .education-card-subtitle {
    font-size: 16px;
  }

  .degree-card-links {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .visit-cert-btn {
    margin-bottom: 0;
  }
}

@media (max-width:500px) {
  .education-card-title {
    white-space: break-spaces;
  }
}