.experience-accord {
  margin: 40px auto 80px;
  max-width: 1100px;
  padding: 0 30px;
}

.experience-accord-panel {
  font-family: "Google Sans Regular";
}

@media (max-width: 968px) {
  .experience-accord {
    margin: 30px 80px;
  }
}

@media (max-width: 768px) {
  .experience-accord {
    margin: 30px 40px;
  }
}

@media (max-width: 500px) {
  .experience-accord {
    margin: 30px 20px;
  }
}
