.education-main {
  width: 100%;
}

.basic-education {
  margin-left: 5%;
  margin-right: 5%;
}

.education-heading-div {
  display: flex;
  height: 25rem;
}

.education-heading-div > * {
  flex: 1;
}

.education-heading-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.education-heading-text-div {
  text-align: center;
}

.education-page-poster {
  height: auto;
  max-width: 75%;
}

.education-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 80px;
}

.education-heading-sub-text {
  font-size: 30px;
  font-family: "Google Sans Regular";
  text-align: center;
}

.education-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Google Sans Medium";
}

@media (max-width: 1380px) {
  .education-heading-text {
    font-size: 50px;
    margin-top: 80px;
  }
  .education-heading-sub-text {
    font-size: 25px;
  }
  .education-page-poster {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .education-heading-text {
    font-size: 30px;
    margin-top: 20px;
  }

  .education-heading-sub-text {
    font-size: 20px;
  }

  .education-heading-div {
    height: auto;
    flex-direction: column;
  }
  .education-header-detail-text {
    font-size: 16px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
  .education-page-poster {
    max-width: 60%;
  }
}

@media (max-width: 500px) {
  .education-page-poster {
      max-width: 75%;
  }
}