.education-main {
  width: 100%;
}

.basic-education {
  margin: 0 5%;
}

.education-heading-div {
  height: 25rem;
  display: flex;
}

.education-heading-div > * {
  flex: 1;
}

.education-heading-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.education-heading-text-div {
  text-align: center;
}

.education-page-poster {
  height: auto;
  max-width: 75%;
}

.education-heading-text {
  font-size: 56px;
  margin-top: 80px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  font-family: "Google Sans Medium";
}

.education-header-detail-text {
  margin: 0 20px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Google Sans Medium";
}

@media (max-width: 1380px) {
  .education-heading-text {
    font-size: 50px;
    margin-top: 80px;
  }

  .education-page-poster {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .education-heading-text {
    font-size: 30px;
    margin-top: 20px;
  }
  .education-heading-div {
    height: auto;
    flex-direction: column;
  }
  .education-header-detail-text {
    margin: 0;
    font-size: 16px;
    text-align: center;
    line-height: normal;
  }
  .education-page-poster {
    max-width: 60%;
  }
}

@media (max-width: 500px) {
  .education-page-poster {
      max-width: 75%;
  }
}